*{font-family: 나눔스퀘어, Arial, Helvetica, sans-serif;}
body{width: 980px; margin: 0 auto;}
header h1 {
    height: 50px;
    text-align: center;
    margin-top: 50px;
    color : #E5890A;
    text-shadow: 2px 2px #E3D18A;
    font-family: 'Courier New', Courier, monospace;
}
header h2 {
    text-align: center;
    font-size: large;
    color: #9D5C0D;
    font-family: 나눔스퀘어;
}
header img {
    margin-right: 5px;
}
nav{
    text-align: center;
    letter-spacing: 5px;
    background-color: #F7D08A;
}
nav li{
    display: inline;
    list-style: none;
    padding: 15px 20px;
    font-size: large;
    color: #4C4C4C;
}
nav li a:hover{color: #ffffff;}
ul{list-style-type: none;}
a{
    text-decoration: none;
    list-style: none;
    font-size: medium;
}
section{display: flex;}
article{
    width: 80%;
    border-right: 2px solid #E5890A;
}
aside{
    width: 20%;
    margin-left: 10px;
}
div.best {
    padding: 20px;
    display: inline-block;
    align-content: center;
}
div.best p{
    text-decoration: none; 
    text-align: center; 
    font-size: medium;
}
div.best img:hover {
    border: darkgray 3px solid;
}
h3{
    color: #9D5C0D;
    font-family: 나눔스퀘어;
}
th {
    background-color: #9D5C0D;
    color: white;
}
p{
    text-decoration:underline 5px solid #E5890A;
    text-align: center;
    font-size: larger;
}
footer {
    background-color:#9D5C0D;
    border-top: 10px;
    color: whitesmoke;   
}